$primary-color : #9356DC;
$secondary-color : #FF79DA;
$tertiary-color : #99E2D0;
$quaternary-color : #E7E7E7;
$quinary-color: #F4F4F4;
$senary-color: #2F2F2F;
$septenary-color: #7E7E7E;
$octonary-color: #A6E0D1;
$nonary-color: #348468;

$primary-gradient: 163deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 73%;

$breakpoint-alpha: 955px;
$breakpoint-beta: 630px;
$breakpoint-charlie: 1255px;