$primary-color : #9356DC;
$secondary-color : #FF79DA;
$tertiary-color : #99E2D0;

$header-bottom-shadow : 0 2px 4px -1px #808080;
$header-height : 63px;

$location-height : 50px;
$location-background-color: #E7E7E7;

$overview-background-color: #F4F4F4;
$overview__title-padding: 40px 30px 5px 30px;
$overview__description-padding: 5px 30px 30px 30px;