footer {
    background-color: $senary-color;

    .footer__block {
        max-width: 1350px;
        padding: 30px 20px 30px 20px;
        margin: auto;

        .footer__img {
            width: 100px;
            height: 20px;
        }

        .footer__items {
            display: flex;
            justify-content: space-between;

            @media screen and (max-width: $breakpoint-beta) {
                flex-wrap: wrap;
            }

            .footer__item {
                color: white;

                @media screen and (max-width: $breakpoint-beta) {
                    margin-top: 10px;
                    width: 100%;
                }
            }
        }
    }
}