header {
    text-align: center;
    height: 63px;
    line-height: 63px;
    box-shadow: 0 2px 4px -1px #808080;
    position: relative;
    z-index: 1;
 
    .header__img {
        vertical-align: middle;
    }
}