.menu {
    margin-top: -40px;
    border-radius: 40px 40px 0 0;
    position: relative;
    background-color: $quinary-color;

    .menu__block {
        max-width: 1350px;
        padding: 40px 0 60px 0;
        margin: auto;

        .menu__title {
            margin: -10px 20px 10px 20px;
            @include font-shrikhand;

            .far {
                float: right;
            }
        }

        .menu__description {
            margin-bottom: 40px;
        
            .menu__name {
                margin: 30px 20px 10px 20px;
                text-transform: uppercase;
                @include font-thin;
            }

            .menu__underline {
                position: relative;
                right: -20px;
                top: -5px;
                background-color: $octonary-color;
                height: 3px;
                width: 40px;
            }

            .menu__items {
                display: flex;

                @media screen and (max-width: $breakpoint-alpha) {
                    flex-wrap: wrap;
                }

                .menu__item {
                    padding: 15px 10px 15px 10px;
                    border-radius: 15px;
                    margin: 15px 20px 0 20px;
                    background-color: white;
                    box-shadow: 0 0 16px 0 rgba(119, 119, 119, 0.3);
                    width: 100%;

                    .menu__dish {
                        font-weight: bold;
                    }

                    .menu__subtlety {    
                        font-size: 13px;
                    }

                    .menu__price {
                        float: right;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}