.overview {
    text-align: center;
    background-color: $quinary-color;
    padding: 40px 20px 50px 20px;

    .overview__title {
        margin-bottom: 10px;
    }

    .overview__description {
        @include font-thin;
        margin-bottom: 30px;
    }
}