.overview {
    text-align: center;
    background-color: $overview-background-color;
    padding-bottom: 50px;

    .overview__title {
        padding: 40px 30px 5px 30px;
    }

    .overview__description {
        padding: 5px 30px 30px 30px;
    }
}