.overview {
    text-align: center;
    background-color: $quinary-color;
    padding-bottom: 50px;

    .overview__title {
        padding: 40px 30px 5px 30px;
    }

    .overview__description {
        @include font-thin;
        padding: 5px 30px 30px 30px;
    }
}