#restaurants {
    background-color: $quinary-color;

    .restaurants__block {
        max-width: 1350px;
        padding: 40px 0 40px 0;
        margin: auto;
    
        .restaurants__title {
            margin: 0 20px 10px 20px;
        }

        .restaurants__items {
            background-color: $quinary-color;
            display: flex;

            .restaurants__item {
                background-color: white;
                border-radius: 20px;
                height: 250px;
                width: 100%;
                margin: 20px;
                box-shadow: 0 0 16px 0 rgba(119, 119, 119, 0.3);

                .restaurants__img {
                    width: 100%;
                    height: 180px;
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                    object-fit: cover;
                }

                .restaurants__description {
                    margin: 10px 20px 10px 20px;

                    .restaurants__name {
                        @include text-bold;
                    }

                    .restaurants__location {
                        @include font-thin;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $breakpoint-howitworks-restaurants) {
    #restaurants {

        .restaurants__block {

            .restaurants__items {
                flex-wrap: wrap;

                .restaurants__item {
                    margin-bottom: 10px;
                }
            }
        }
    }
}