@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand:wght@100;400&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

@mixin font-shrikhand {
    font-family: 'Shrikhand', sans-serif;
}

@mixin font-thin {
    font-weight: 100;
}